<footer>
<section class="layout">
<!--<p>Footer test goes here.</p>-->
<!-- <ul class="email"> -->
<!-- <li> -->Send me an email: louisanb2010@live.cn<!-- </li></ul> -->
<p><% include ../content/socialmedia.ejs %></p>

<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flouisanresume.herokuapp.com%2F&amp;src=sdkpreparse"><img src="https://s3.amazonaws.com/louisanresume.com/public/images/socialmedia/facebook.png">

<a href="https://twitter.com/intent/tweet?text=https://louisanresume.herokuapp.com   sfdsa  sfds">Tweet
</a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url=www.google.com&title=d&summary=&source=">Share on LinkedIn</a>

<a href="http://www.linkedin.com/shareArticle?mini=true&url=https://s3.amazonaws.com/louisanresume.com/public/images/misc/nod7preview.JPG&summary=Allow much more details about you and your work experience than a physical resume. Therefore a link to your resume website can be added on your physical resume to make you stand out with regard to much more details being provided.&title=Custermized resume website&url=http://louisanresume.herokuapp.com">s<a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network
&summary=My%20favorite%20developer%20program&source=LinkedIn">xx</a>

<a href="http://www.linkedin.com/shareArticle?mini=true&summary=Allow much more details about you and your work experience than a physical resume. Therefore a link to your resume website can be added on your physical resume to make you stand out with regard to much more details being provided.&title=Custermized resume website&url=http://louisanresume.herokuapp.com">s<a>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="louisanresume.herokuapp.com" data-counter="top"></script> -->
<!-- <p>Send me an email: louisanb2010@live.cn</p>
<ul class="email">
<li>Send me an email: louisanb2010@live.cn</li></ul> --> 
<!-- in nextmeeting under content folder its only socialmedia since footer has to go back up a golder to get to socialmedia vs socialm is in the same folder with thenextmeeting -->
</section><!--layout-->
</footer>