	
<meta property="og:keywords" 
	content="resume,resume website,cheap,cheap resume,limited space on resume,limited resume,space on resume,space,limited space,solution to resume,solution to limited space,solution to limited space on resume" />
<meta property="og:url"           
 content="https://louisanresume.herokuapp.com" />
 <meta property="og:type"          
 content="website" />
 <meta property="og:title"         
 content="Customized resume website" />
 <meta property="og:description"   
 content="Allow much more details about you and your work experience than a physical resume. A link of your resume website can be added no your resume to make you stand out as much more details being presented!" />
 <meta property="og:image"         
 content=" 
https://s3.amazonaws.com/louisanresume.com/public/images/misc/nod7preview.JPG" />
    
    <meta charset="UTF-8">
	<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<meta name="twitter:card" content="photo" />
<!-- <meta name="twitter:site" content="@flickr" /> -->
<meta name="twitter:title" content="Customized resume website" />
<meta name="twitter:image" content="https://s3.amazonaws.com/louisanresume.com/public/images/misc/nod7preview.JPG" />
<meta name="https://louisanresume.herokuapp.com" />

<meta name="linkedin:card" content="photo" />
<!-- <meta name="twitter:site" content="@username" /> -->
<meta name="linkedin:image" content="https://s3.amazonaws.com/louisanresume.com/public/images/misc/nod7preview.JPG" />
<meta name="https://louisanresume.herokuapp.com" />
