
<header>
  <divider class="divider">
 <div class="hero">
  <section class="layout">
   <div class="branding">
        <!-- <a href="/"> -->
     	 <img src="https://s3.amazonaws.com/louisanresume.com/public/images/misc/bc.png" alt="black cat"><!-- /a> -->
       <img src="/images/misc/mouse-animated.gif" alt="mouse anime">
       </div><!-- branding -->
      </section><!--layout-->
     </div><!--hero-->
     </divider>

     <div class="navigation">
     <! nav need be centered so need layout class>
       <section class="layout">
        <ul class="nav">
         <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
         <li><a href="/Projects"><i class="fa fa-rocket" aria-hidden="true"></i>Projects</a></li>
         <li><a href="/projectnav/cad"><i class="fa fa-motorcycle" aria-hidden="true"></i>CAD Models</a></li>
         <li><a href="/projectnav/Arduino"><i class="fa fa-cogs" aria-hidden="true"></i> Arduino</a></li>
         <li><a href="/projectnav/cap"><i class="fa fa-code" aria-hidden="true"></i> CapStone</a></li>
        </ul><!--nav-->
       </section><!--layout-->
      </div><!--navigation-->
     </header>