<article id="whoshouldcome">
  <h1>Interested in purchasing a website like this?</h1>
  <ul style="list-style-type:disc">
    <li>You can only put so much on a resume and even with that you have to narrow down what you put on a resume and make it as simple as possible. What if there is an easy way for employer to get to know you more before going through the hassle to call you or have an interview.</li>
    <li>Have you ever worried getting nervious in an interview and did not describe yourself the way you wanted? Imaging having a link to your website on your resume that can provide additional information or serve as a detailed version of your resume. This way you can make sure employers will still have a thoroughly understanding of what you are capble of even if you got nervious and did not describe yourself well in the interview.</li>
    <li>Linkedin and GitHub etc. do not offer customized page which makes it boring to review for recruiters. The top of each profile looks pretty good but once get awary from that section the style of the page became boring to look at. Having a unqiue page with your own web style makes it fun to look at and get to know you. You can just add a link to those social website and have your information presented in a way suits your tase.</li>
   <!--  <li>For small businesses or people who don't have much money but want a website for your company, you can find the best price on the market from me</li> -->
    <li>Those interested in having an affordable website, It only cost $100 for students/individuals and $300-$800 for businesses. Depend on what type of website your business needs price might be arised a little but definetly cheaper than the price on market.</li>
    <li>You can google the cost of a website and you will find out it is easy to spend a couple of thousand dollars on a website.<a href="http://executionists.com/much-website-cost-2016/"> (Check it out here)</a></li>
    <li>Websites actually can be very creative! Please check out the following web designs. They might be helpful to form the dreaming website you have in mind.</li>
  </ul>
  <p>
  	<ul>
  		<li><a href="http://www.csszengarden.com/202/">Theater</a></li>
  		<li><a href="http://www.csszengarden.com/136/">Holloween</a></li>
  		<li><a href="http://www.csszengarden.com/194/">Leaves</a></li>
  		<li><a href="http://www.csszengarden.com/208/">Flowers</a></li>
  		<li><a href="http://www.csszengarden.com/148/">Gallery</a></li>
  		<li><a href="http://www.csszengarden.com/219/">Music band rock steal style</a></li>
  		<li><a href="http://www.csszengarden.com/124/">Tea relax</a></li>
  		<li><a href="/demo">Demo of slides and audio</a></li>
  	</ul>
  </p>
   <li>If you have a business and want to add it to google so it will show up in the search result as show below, with only $10 it will be taken care of! This serve also takes care any existing inccorect info. showed up on that business page such as wrong description and open hours. </li>
   <img src="https://s3.amazonaws.com/louisanresume.com/resume/bike_shop.JPG" alt="Photo of google search result for business"  width="800">
   <li>If you have items you want to sale on google, as shown below, a $5 serve per item will set it up so you can sale your items online!</li>
   <img  src="https://s3.amazonaws.com/louisanresume.com/resume/bike.JPG" alt="Photo of google search result for bike sale">
</article><!-- article -->