<article id="getbusy">
  <h1>Help me spread out the word!</h1>
  <p>If you think I might be a good fit for other companies, please help me sprend the words out by <a href="http://www.linkedin.com/shareArticle?mini=true&summary=Allow much more details about you and your work experience than a physical resume. Therefore a link to your resume website can be added on your physical resume to make you stand out with regard to much more details being provided.&title=Custermized resume website&url=http://louisanresume.herokuapp.com">posting a link of the this website on linkedin</a>, <a href="https://twitter.com/intent/tweet?text=https://louisanresume.herokuapp.com ">telling your firends on Twitter</a> and <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnod7.herokuapp.com%2F&amp;src=sdkpreparse"> sharing it on FaceBook</a> </p>
  	<p>These are my skills: 
  <ul>
  <li>Arduino(C++)</li>
  <li>SolidWorks</li>
  <li>Web development (node.js, JavaScript, HTML, CSS/Sass, grunt and compass)</li>
  <li>MatLab</li>
  <li>LabView </li>
  <li>Basic Machining and BOM</li>
  <li>Basic Raspberry Pi(Linux/Python)</li>
  <li>Basic Bootstrap and github</li>
  <li>Basic database such as MongoDB</li>
  <li>Basic SEO and google analystics</li>
  <li>Excel</li>
  <li>AutoCAD </li>
  </ul></p>
</article><!-- article -->


