<article class="speakerslists">
<!--  <section class="layout"> -->
 <!--  <h1><i class="icon-calendar"></i>speaking at the Next Meeting</h1>
 <div class="speakers"> -->
   <% artists.forEach(function(item){ %> 
 <!--    <article class="artists"> -->
   	 
   	<!-- <p> --><a href="/speakers/<%= item.shortname %>"> <img class="speaker" src="/images/speakers/<%= item.shortname %>_tn.jpg" alt="photo of <%= item.name %>" ></a><!-- </p> -->
   			
<!--    	</artists> -->
   	<% }); %> <!-- forEach -->
  </div>
<!--  </section> -->
</article>