     <div class="speakerslist">
    <section class="layout">
      <h1><i class="fa fa-fighter-jet" aria-hidden="true"></i>Check out my projects</h1>
      <div class="Speakers">
        <!-- article.artist*>h3>{Title}^p>a[href="#"]>img.speaker[src="images/speakers/$#_tn.jpg" alt="Photo of $#"]^^p>Lorem -->
      <article class="artist">
        <h3>CAD models<span class="small"> and
      <a href="/projectnav/cad">3D printing projects</a></span></h3>
        <p><a href="#"><img src="images/resume/glass2.jpg" alt="glass model in AutoCAD" class="speaker"></a></p>
        <p>Sometimes I would 3D print some of the CAD model on campus to have a good understanding on 3D printing such as what is it good for and what the limitations are. Also learning both SolidWorks and AutoCAD allowed me to understand what projects are good for SolidWOrks and features are easier to make using AutoCAD.</p>
      </article>
      <article class="artist">
        <h3>Arduino<span class="small"> and
      <a href="/projectnav/Arduino">Raspberry Pi projects</a></span></h3>
        <p><a href="#"><img src="https://s3.amazonaws.com/louisanresume.com/public/images/resume/IMG_4726.JPG" alt="Photo of Hillary_Goldwynn" class="speaker"></a></p>
        <p>At my internships, I built a tracking device, which used IMU and GPS to detect if a package had follen and at where, and an ambient air pullotion/component analyzer. Working on my own gave me opportunities to improve my problem solving skill tremendously.</p>
      </article>
      <article class="artist">
         <h3>CapStone<span class="small"> and
      <a href="/projectnav/cap">CS projects</a></span></h3>
        <p><a href="#"><img src="https://s3.amazonaws.com/louisanresume.com/public/images/resume/IMG_1996.JPG" alt="Photo of Riley_Rewington" class="speaker"></a></p>
        <p>In the CapStone project I took place in parts modeling, code development and parts machining. I enjoyed how I wroked with the whole team to get thr project done. I learned a lot about how to work people and very value this type of experience. Most machenical engineering students do not like coding but I found myself enjoying it.</p>
      </article><!-- artist -->
      </div><!-- speakers -->
    </section><!-- layout -->
  </div><!--speakerslist -->
  
  	
