<article id="whoarewe">
 <!--  <header>  -->
  <h1>Biography</h1> 
 <!-- </header> -->
<!--  <div> -->
    <p>I graduated with a bachelor degree in Mechanical Engineering at 2016. Coming up with different ideas/solutions and analyzing data to solve problems is my greatest might. Facing challenges head on allowed me to improve either in my personal life as a better person or in my professional life as a better engineer. I like to get to know different people and learn from their story and experience. I found it is easier to learn almost every skill from the internet but not people skill and teamwork, therefore i value teamwork the most through all my school projects. My great learning abilities allow me to enjoy what I learned from school and my personal projects. In my spare time, i like learning SolidWorks, AutoCAD and programing. I was also an active student. I like to go to company tours and different events on campus, to explore both my views of engineering and life.</p>
<!-- </div> -->
</article><!-- article -->


